/*GENERAL*/
body{
	background-color: #AA0505;
}
col{
	padding:0;
}

/*PRODUCT BANNER*/
.title{
	background-color: #AA0505;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size:36px;
	color:#FBCA03;
	line-height:60px;
	width:100%;
	height:100%;
	margin:0;
	padding-left: 15%;
	letter-spacing:2px;
}

/*SEARCH BAR*/
.sectionTitle{
	background-color:#FBCA03;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: #AA0505;
	font-size: 24px;
	line-height:36px;
	text-align:center;
	width:100%;
	margin:0;
	border-style:solid;
	border-width:4px;
	border-color:#FBCA03;
}

fieldset {
	padding-top: 15px;
	padding-bottom: 15px;
	text-align:center;
	margin-bottom:10px;
}

.inputBtn {
	border-style:outset;
	border-width:1px;
	border-radius: 3px;
	height:32px;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 16px;
	color: #AA0505;
	letter-spacing:1px;
	background-color:#FBCA03;
	border-color:#FBCA03;
}

/*SYMBOL BUTTONS*/
.buttonBox{
	display:flex;
	justify-content: center;
}

.button{
	border-style:outset;
	border-width:1px;
	border-radius: 3px;
	height:32px;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 16px;
	color: #AA0505;
	letter-spacing:1px;
	background-color:#FBCA03;
	margin:5px;
	width:60px;
}

#buttons{
	max-width:400px;
	text-align:center;
}

/*DATA DISPLAY*/
input{
	border-radius: 3px;
	border-width:1px;
	border-style: outset;
	padding-left:10px;
	width:200px;
	font-size:16px;
	height:32px;
	background-color: #d6d6d6;
}

.dataBox {
	margin:20px;
	text-align: center;
	border-color:#FBCA03;
	border-style: solid;
	border-radius:3px;
	border-width:2px;
	min-height:150px;
	background-color:#d6d6d6;
}

table{
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	letter-spacing: 1px;
	color:#AA0505;
}

.logoBox {
	margin:20px;
	text-align: center;
	border-color:#FBCA03;
	border-style: solid;
	border-radius:3px;
	border-width:2px;
	min-height:150px;
	padding-bottom:20px;
	background-color: #d6d6d6;
}

.newsBox {
	margin:20px;
	border-color:#FBCA03;
	border-style: solid;
	border-radius:3px;
	border-width:2px;
	min-height:150px;
	background-color:#d6d6d6;
}

#newsGroup{
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 16px;
	color: Black;
	letter-spacing:1px;
}

#companyName {
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 16px;
	color: #AA0505;
	letter-spacing:1px;
	line-height:32px;
	font-weight:normal;
}

a{
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 16px;
	color: #AA0505;
	letter-spacing:1px;
}



/*Media Queries*/
@media screen and (max-width:450px) {
	.title{
		font-size:24px;
	}

	.sectionTitle{
		font-size:18px;
		line-height:24px;
	}

	fieldset{
		margin:0px;
		padding:10px;
	}

	#stockInput{
		font:12px;
		height:24px;
	}
	.inputBtn, .button{
		height:24px;
		font-size:14px;
	}

	.logoBox, .dataBox, .newsBox{
		margin:10px;
	}

	table{
		font-size:12px;
		
	}
	#newsGroup{
		font-size:12px;
	}
	a{
		font-size:12px;
	}
}